*, :before, :after { margin: 0; padding: 0; box-sizing: border-box; }

html {
    width: 100%;
    height: 100%;

    overflow: hidden;

    background-color: #d6edf2;
    font-size: 1.5vmin;

    user-select: none;
    cursor: default;
}

body {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

#clouds {
    position: absolute;
    top: 5vh;
    left: 0;
    width: 200vmax;
    height: auto;

    animation: cloud-drift 60s infinite linear;
}

@keyframes cloud-drift {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

#ground {
    position: absolute;
    top: calc(100% - 10rem);
    bottom: 0;
    left: 0; right: 0;
    width: 100%;

    background-color: #b6e1c7;
}

#naughty-house {
    position: absolute;
    left: calc(50% - 32rem);
    bottom: 100%;

    width: 33rem;
    height: auto;
}

#grass {
    position: absolute;
    bottom: 100%;
    left: 0; right: 0;

    width: 100%;
    height: 2.25rem;

    background-image: url(images/grass.svg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: auto 100%;
}


.saxman {
    position: absolute;
    bottom: 100%;

    overflow: visible;
}
#calvin {
    left: calc(50% + 7rem);
    width: 8rem;
    height: 17.697855322rem;
}
#klein {
    left: calc(50% + 20rem);
    width: 8.2rem;
    height: 15.340034806rem;
}

.exclamation {
    position: absolute;
    z-index: 1;
    left: calc(50% - 9rem);
    bottom: calc(100% + 18rem);

    transform-origin: left;
}
.exclamation > p {
    font-family: "Satisfy", cursive;
    font-size: 10rem;
    color: #ff66aa;
    text-shadow:
        0 0 0.2rem #ffddee,
        0 0.2rem 1rem #ffbbdd;

    animation: lewd-fade cubic-bezier(0.0, 0.0, 0.2, 1);
}

@keyframes lewd-fade {
    0% {
        transform: scale(1, 1) translateX(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.4, 1.1) translateX(5rem);
        opacity: 0;
    }
}

[data-action~=toggle-play-state] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 0;
    margin: 0;
    padding: 0;

    position: absolute;
    left: calc(50% + 17.5rem);
    top: 50%;
    width: 5vmax;
    height: 5vmax;

    cursor: pointer;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    transform: translate(-50%, -50%);
}
[data-action~=toggle-play-state][data-state="playing"] {
    background-image: url(images/pause.svg);
}
[data-action~=toggle-play-state][data-state="paused"] {
    background-image: url(images/play.svg);
}

.saxman .body {
    transition: transform 0.1s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
