html {
    width: 100%;
    height: 100%;

    background-image: url(../images/background.png);
    background-position: center;
    background-size: cover;
}

body {
    padding: 1rem;

    text-align: center;
}

textarea, p {
    display: block;
    width: 20em;
    height: 30vh; min-height: 10em;
    margin: 0 auto;
    padding: 0.5rem 1rem;

    font-family: monospace;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
    white-space: pre-wrap;

    background: rgba(0, 0, 0, 0.65);
    color: #eee;
    border: 1px solid #000;

    overflow-y: scroll;
}

textarea {
    margin-bottom: 1rem;

    outline: none;
    resize: vertical;
}

p {

}
